<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/asset-15.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Lucas Amaral</title>

</head>

<body>
    <i class="bi bi-list menu-mobile"></i>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/perfil.jpg" alt="Foto do Lucas">
            <h1>Lucas Amaral</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://github.com/lucasamaral296">
                    <i class="bi bi-github"></i>

                </a>
                <a target="_blank" href="https://www.linkedin.com/in/lucas-velasque-65a30976/">
                    <i class="bi bi-linkedin"></i>

                </a>
                <a target="_blank" href="https://www.instagram.com/velasquelucas/">
                    <i class="bi bi-instagram"></i>

                </a>
                <a target="_blank" href="https://contate.me/lucasamaraldev">
                    <i class="bi bi-whatsapp"></i>

                </a>
            </div>
        </section>
        <section>
            <nav id="navbar" class="nav-menu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#inicio">
                            <i class="bi bi-house" aria-hidden="true"></i>Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sobre">
                            <i class="bi bi-person" aria-hidden="true"></i>Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#habilidades">
                            <i class="bi bi-list-check" aria-hidden="true"></i>Habilidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#curriculo">
                            <i class="bi bi-file-earmark" aria-hidden="true"></i>Currículo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portifolio">
                            <i class="bi bi-collection" aria-hidden="true"></i>Portifólio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contato">
                            <i class="bi bi-envelope" aria-hidden="true"></i>Contato</a>
                    </li>
                </ul>
            </nav>
        </section>
    </aside>
    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center 
            align-items-center flex-column">
                <h2 class="text-white text-shadow">Lucas Amaral</h2>
                <span id="subtitle" class="text-white 
                text-shadow">Dev Python, Django e Flask</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end 
            align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>
        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md 12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>
                        Sou um Dev Python em evolução,sempre procurando aprender mais
                        e colocar em prárica da melhor forma possivel, sempre adorei TI,
                        mas faz mais de um ano que foquei meus estudos e projetos em Python,
                        ja tive outros contatos com outras areas e cursos desde minha adolescencia.
                        Mas estou mais focado para crescimento profissinal junto a tecnologia.
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/perfil.jpg" alt="Foto do Lucas">
                </div>
                <div class="col-md-8">
                    <h3>Desenvolvedor Python</h3>
                    <p>
                        Atualmente faço projetos academicos e pessoais,
                        utilizando Django, Flask, Bootstrap, SQL, Selenium.
                        E alguns conhecimentos basicos de HTML, CSS e JS.
                    </p>
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Nascimento: <span class="fw-lighter">
                                        15 de Julho de 1995</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">
                                        28 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">
                                        Viamão</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">
                                        Rio Grande do Sul</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">
                                        Tênis de Mesa e Videogame</span>
                                </li>
                                <li class="list-group-item">
                                    Trabalho: <span class="fw-lighter">
                                        Disponvel</span>
                                </li>
                                <li class="list-group-item">
                                    Superior: <span class="fw-lighter">
                                        ADS na Estacio(Cursando)</span>
                                </li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-lighter">
                                        14 meses com projetos</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        Fora meus projetos e estudos com Python, faço alguns estudos voltados com Frontend para ter uma
                        noção de um todo.
                        Mesmo focando no Backend com Python, acho sempre relevante entender como funciona a aplicação no
                        geral.
                        Como cada função conversa uma com a outra ou se são um ecosistema unico.
                    </p>
                </div>
            </div>
        </section>
        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>
                    Com todo tempo de estudo e projetos eu adquiri algumas habilidades,
                    e a maior parte delas estão aqui, de acordo com a porcentagem de conhecimento
                    que eu acredito ter em cada uma delas.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Conhecimento Python" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%">50%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress" role="progressbar" aria-label="Conhecimento Flask" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 45%">45%</div>
                        </div>
                        <p class="mt-3 mb-0">Django</p>
                        <div class="progress" role="progressbar" aria-label="Conhecimento Django" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 40%">40%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL SERVER / SQLite</p>
                        <div class="progress" role="progressbar" aria-label="Conhecimento SQL" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 35%">35%</div>
                        </div>
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress" role="progressbar" aria-label="Conhecimento Git" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 40%">40%</div>
                        </div>
                    </div>
                    <div class="col md-6">
                        <p class="mt-3 mb-0">Selenium</p>
                        <div class="progress" role="progressbar" aria-label="Conhecimento Selenium" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%">50%</div>
                        </div>
                        <p class="mt-3 mb-0">API / FASTAPI</p>
                        <div class="progress" role="progressbar" aria-label="Conhecimento API" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 40%">40%</div>
                        </div>
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Conhecimento Html" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 40%">40%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS / Bootstrap</p>
                        <div class="progress" role="progressbar" aria-label="Conhecimento Css" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 45%">45%</div>
                        </div>
                        <p class="mt-3 mb-0">Deploy</p>
                        <div class="progress" role="progressbar" aria-label="Conhecimento Deploy" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 40%">40%</div>
                        </div>
                    </div>
                </div>
                <hr class="w-50 me-auto ms-auto">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Tabalho em Equipe</p>
                        <div class="progress" role="progressbar" aria-label="trabalho em equipe" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" role="progressbar" aria-label="proatividade" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Orientação aos Detalhes</p>
                        <div class="progress" role="progressbar" aria-label="orientacao detalhes" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress" role="progressbar" aria-label="comunicacao" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress" role="progressbar" aria-label="empatia" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress" role="progressbar" aria-label="comprometimento" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 90%">90%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item">
                            <h4>Análise e Desenvolvimento de Sistemas</h4>
                            <h5>2023 - 2025</h5>
                            <p><em>Estácio</em></p>
                            <p>O curso de Análise e Desenvolvimento de Sistemas ensina a projetar, documentar,
                                 especificar, testar, implementar e cuidar da manutenção de 
                                 sistemas computacionais e software. </p>
                        </div>
                        <div class="cv-item">
                            <h4>Python Impressionador</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>Hashtag Treinamentos</em></p>
                            <p>Curso de Python desde a base até frameworks como Django e Flask.
                                Automações com Selenium e aplicações com Tkinter.
                            </p>
                        </div>
                        <div class="cv-item">
                            <h4>Criando primeiro Site</h4>
                            <h5>2022 - 2022</h5>
                            <p><em>Fundação Bradesco</em></p>
                            <p>Criando um Site básico com HTML, CSS E JS.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Profissional</h3>
                        <div class="cv-item">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>